
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  @layer base {
    
  :root  {
    --background: 262 44% 98%;
    --foreground: 262 5% 10%;
    --card: 262 44% 98%;
    --card-foreground: 262 5% 15%;
    --popover: 262 44% 98%;
    --popover-foreground: 262 95% 10%;
    --primary: 262 54% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 262 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 224 30% 95%;
    --muted-foreground: 262 5% 40%;
    --accent: 224 30% 90%;
    --accent-foreground: 262 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 262 5% 98%;
    --border: 262 30% 82%;
    --input: 262 30% 50%;
    --ring: 262 54% 63%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 262 44% 10%;
    --foreground: 262 5% 98%;
    --card: 262 44% 10%;
    --card-foreground: 262 5% 98%;
    --popover: 262 44% 5%;
    --popover-foreground: 262 5% 98%;
    --primary: 262 54% 63%;
    --primary-foreground: 0 0% 0%;
    --secondary: 262 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 30% 25%;
    --muted-foreground: 262 5% 65%;
    --accent: 224 30% 25%;
    --accent-foreground: 262 5% 95%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 262 5% 98%;
    --border: 262 30% 50%;
    --input: 262 30% 50%;
    --ring: 262 54% 63%;
    --radius: 0.5rem;
  }
  }
  
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  